.header {
  width: 100%;
  position: relative;
  &__inner {
    width: 100%;
    top: -100px;
    transition: all 350ms ease;
  }
  &__inner.active {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
  } // for toTop and other
}
